
# here are some folders to ignore

# this secret folder for Squidle
secrets/

# layers for QGIS - they're too big and can be found/recreated
QGIS layers/

# input data we can find elsewhere
data/

# plots which can be remade
plots/
.Rproj.user
